<div class="container">

  <section class="hero">
    <div class="hero-text">
      <h1>Prêt à jouer ?</h1>
      <h2>Des défis infinis vous attendent.</h2>
      <button class="btn-primary" (click)="goToGames()">Jouer maintenant </button>
    </div>
  </section>

  <section class="games-section">
    <h3>Jeux populaires</h3>

    <div class="games-grid">

      <div 
        class="card game-card"
        *ngFor="let game of games"
        (click)="openGame(game.route)"
      >
        <div class="icon">🎮</div>
        <h4>{{ game.name }}</h4>
        <p>{{ game.description }}</p>
      </div>

      
    </div>
  </section>

<section class="top-players card">
  <h3>🏆 Top Joueurs</h3>

  <div *ngFor="let player of topPlayers; let i = index" class="player">
    <span>#{{ i + 1 }} - {{ player.username }}</span>
    <span class="score">{{ player.points }} pts</span>
  </div>

</section>


</div>
